<div id="about" class="about-box">
  <md-tab-group>
    <md-tab label="{{'About' | translate}}">
      <h1>Om Hemtorg</h1>
      <p>Hemtorg är en hemsida för bostäder som kommer att läggas ut till försäljning inom en snar framtid. Genom att ge marknaden en indikation på att en bostad är på väg att säljas kan framtida säljare lättare skaffa sig flera potentiella köpare och samtidigt få en uppfattning på intresset för sin bostad i ett tidigt skede.</p>
      <p>Personer med köptankar får en egen uppfattning om kommande bostäder i ett visst område och kan på så sätt få en bättre översikt över marknaden i dagsläget för just sitt intresseområde.</p>
      <p>Detta i kombination med varandra gör att möjligheten för att genomföra en bra affär mellan båda parterna ökar väsentligt och skapar således ett mervärde mellan köpare och säljare.</p>

      <h2>Bostadsägare</h2>
      <p>Hemtorg är sidan för bostadsägare som själva vill lägga ut sin bostad och under en förbestämd period nå ut till potentiella köpare som är intresserade av bostäder i bostadsägarens område. I vanliga fall så försvinner bostäder oftast extremt fort, speciellt under högkonjunkturer, utan att intresserade köpare av bostäder hinner eller lyckas få inblick i en säljares objekt. Tjänsten är helt gratis.</p>

      <h2>Bostadsköpare</h2>
      <p>Hemtorg kopplar ihop potentiella köpare med framtida säljare i ett visst område som köpare letar bostad i. Detta ökar chansen för köpare att få tillgång till det rätta boendet och att båda parter blir nöjda i slutändan.</p>
      <p>Genom att även följa en bostad så får köparen en indikation när bostaden är tänkt att säljas och i vilket prisintervall samt område bostaden ligger inom. Köparen kan kontakta säljaren när bostaden får statusen försäljning, vilket skapar positiv transparens för båda parter. Information om en bostad innehåller normalt prisintervall, bilder, beskrivelse, publikationstid och ändringar som gjorts av säljaren på bostaden den senaste tiden. Tjänsten är helt gratis.</p>

      <h2>Så här går det till</h2>

      <p>-Du skapar enkelt en profil genom att klicka ”registrera dig”, antingen genom en email adress eller genom sociala medier såsom Facebook.</p>    
      <p>-Du lägger enkelt till Plats, beskrivning, bilder, prisintervall och relevant information för bostaden när du lägger upp ditt objekt. Notera att det inte är ett krav på att lägga upp dessa uppgifter, men ju mer information som är kopplat till bostaden finns, desto större chans att just din bostad blir intressant för köpare. Tjänsten är helt gratis.</p>
      <p>-Vill du ta bort din profil så mailar du enkelt till support@hemtorg.se med dina uppgifter så tas din profil bort.</p>
    </md-tab>
    <md-tab label="{{'Legal' | translate}}">
      <h1>Medlemskap på HemTorg</h1>
      <p>Det är helt gratis att vara medlem på Hemtorg. Du kan när som helst avsluta ditt medlemskap och då kommer således all din infomration (såsom bilder, text, personuppgifter) att tas bort från webbplatsen, med undantag för avidentifierade uppgifter som Hemtorg kan komma att spara för statistikändamål och för annonsinlägg som publicerats i Hemtorgs sociala medier.</p>
      <h2>Cookies</h2>
      <p>”Cookies” är små textfiler som lagras på din dator för att samla in information om din användning av en webbplats. Här hittar du en sammanställning över hur och varför vi använder cookies.</p>
        <ul>
          <li>Snabbare och enklare att använda Hemtorg</li>
          <li>Tillförlitlig och anonym besöksstatistik</li>
          <li>Mer relevant visning av reklam</li>
          <li>Undersökningar för att bättre förstå våra besökares behov</li>
        </ul>
        <p>Hemtorg och dess annonsörer kan komma att använda cookies på Webbplatsen. Informationen i sådana cookies är ej länkad till någon av hemtorgsanvändare personlig information. Du som användare kan ställa in din egna webbläsare så att den ej accepterar cookies, men notera att somliga tjänster på Webbplatsen som är beroende av cookies då kan upphöra att fungera.</p>
    </md-tab>
    <md-tab label="{{'PUL' | translate}}">
      <h1>Personuppgiftspolicy</h1>
      <p>Dina personuppgifter behövs för att Hemtorg ska kunna erbjuda sina tjänster och fullfölja sina åtaganden gentemot dig som privatperson på bästa möjliga sätt. Dina uppgifter används av oss för att du ska kunna ta del av Hemtorgs tjänster och för att Hemtorg ska kunna identifiera dig, administrera, skicka direktmarknadsföring till dig (baserat på att du inte tackat nej till att dina uppgifter används för sådan marknadsföring) och för eventuella statistikändamål.</p>
      <p>Du som användare är medveten om och accepterar att allt material som du väljer att lägga ut på eller skicka in till webbplatsen kan bli offentligt och att Hemtorg lagrar, behandlar och kan presentera sådant Material på Webbplatsen. Du som användare accepterar vidare att Hemtorg lagrar och behandlar andra personuppgifter som Du via Webbplatsen Hemtorg eller på annat sätt lämnar till Hemtorg.</p>
      <p>Hemtorg kommer ej att lämna ut Din e-postadress eller andra privata personuppgifter till annan part. Hemtorg har dock rätt att överföra personlig information till ett övertagande bolag som förvärvar rättigheterna till sådan information vid en försäljning av Webbplatsen eller av Hemtorg.</p>
      <p>Hemtorg och dess annonsörer kan komma att använda så kallade ”cookies” på Webbplatsen. Informationen i sådana cookies är dock inte länkad till någon för medlemmen personlig information. Du kan ställa in Din webbläsare så att den inte accepterar cookies, men somliga funktioner på Hemtorg som är beroende av cookies kan då fungera sämre.</p>
    </md-tab>
  </md-tab-group>
</div>