<div class="faq-box">
  <h1>Vanliga frågor och svar</h1>
  <strong>Varför ska jag använda mig av hemtorg.se?</strong>

  <p>- Hemtorg är en hemsida för bostäder som kommer att läggas ut till försäljning inom en snar framtid. Genom att ge marknaden en indikation på att en bostad är på väg att säljas så kan framtida säljare lättare skaffa sig flera potentiella köpare och samtidigt få en uppfattning på intresset för sin bostad i ett tidigt skede. Köpare som har intresse av ett visst område och är aktivt ute och letar bostad på en specifik plats kan således få en indikation på att objekt är på väg ut på marknaden</p>

  <strong>Vad kostar det att använda hemtorg?</strong>

  <p>Det är helt gratis att använda Hemtorg</p>

  <strong>Måste jag uppge pris på min bostad när jag använder hemtorg?</strong>

  <p>Nej, det är inte ett krav att uppge ett pris på din bostad på Hemtorg</p>

  <strong>Sker försäljning via hemtorg?</strong>

  <p>Nej, Hemtorg fungerar primärt som en kontaktbas mellan potentiella köpare och säljare av bostäder. Hemtorg rekommenderar att kontakta till exempel en jurist för att säkerställa att en privatförsäljning går rätt till.</p>

  <strong>Vad använder vi Hemtorg personuppgiftsinformationen till?</strong>

  <p>Vi använder dina personuppgifter för flera ändamål, främst för att göra det möjligt för oss att ge dig den service som överenskommits, skräddarsy tjänsten efter dina förmodade önskemål, inklusive ger dig personlig innehåll, och för att ge dig stöd. Vi använder också informationen för att utveckla service och nya tjänster som bygger på analys av inklusive dina personuppgifter . Informationen kommer också att användas i marknadsföringssyfte och för att förhindra missbruk av tjänsten. Nedan kan du läsa mer om behandlingsändamål. Vi använder dina personuppgifter för att utveckla och förbättra servicen, och att utveckla nya tjänster, bland annat:</p>

  <ul>
    <li>Att göra det lättare för dig att navigera våra tjänster</li>
    <li>Utveckla och förbättra Hemtorg genom att förstå hur man använder tjänsten</li>
    <li>Analysera användning och marknadstrender för att utveckla ny funktionalitet eller nya tjänster</li>
    <li>Beräkna och rapportera användarnummer och trafik</li>
  </ul>
  <strong>Delar Hemtorg min information?</strong>
  <p>avsinitt om personuppgiftspolicyn</p>
</div>