<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div [hidden]="true">
        <input id="input-file-id-hidden"
        type="file"
        accept="image/*"
        multiple (change)="fileChange(input.files)"
        #input/>
      </div>
      <label for="input-file-id-hidden" class="mat-raised-button">{{buttonCaption}}</label>
    </div>
    <div class="col-md-7">
      <div
          class="image-upload"
          [ngClass.xs]="{'image-upload':false}"
          fileDrop
          [accept]="['image/*']"
          (isFileOver)="fileOver($event)"
          (fileDrop)="fileChange($event)"
          [ngClass]="{'file-is-over': isFileOver}">

        <div fxLayout="row" fxShow fxHide.lt-sm class="file-upload hr-inline-group">
          
          <div class="drag-box-message" [innerText]="dropBoxMessage"></div>
        </div>

        <p class="file-too-large" *ngIf="showFileTooLargeMessage" [innerText]="fileTooLargeMessage">
        </p>

        <div *ngIf="preview" class="image-container hr-inline-group">
          <div
            class="image"
            *ngFor="let file of files"
            [ngStyle]="{'background-image': 'url('+ file.src +')'}"
          >
            <div *ngIf="file.pending" class="loading-overlay">
              <div class="spinningCircle"></div>
            </div>
            <div *ngIf="!file.pending" class="x-mark" (click)="deleteFile(file)">
              <span class="close"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>