<div bsModal #markerCarouselModal="bs-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img class="img-responsive" src="http://placehold.it/1200x600/555/000&text=One" alt="...">
            <div class="carousel-caption">
              One Image
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="http://placehold.it/1200x600/fffccc/000&text=Two" alt="...">
            <div class="carousel-caption">
              Another Image
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="http://placehold.it/1200x600/fcf00c/000&text=Three" alt="...">
            <div class="carousel-caption">
              Another Image
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container custom-map-container">
  <div id="map"></div>
</div>