
.custom-map-container {
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#map {
  height:93vh
}

.map-container {
    padding: 5px;
}

.sebm-google-map-container {
  height: 500px;
  width: 100%;
}

body {
    overflow: hidden;
}