
.preview-map-container {
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

}

#preview-map {
  height:50vh
}


.preview-info-container {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height:50vh
}

.carousel-preview-container {
  width: 50%;
  height: 50%;
  margin:0 auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.remove-grid-padding {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.row-padding {
  padding-bottom: 50px;
  padding-top: 50px;
}

.bottom-col-padding {
  padding-bottom: 50px;
}

.details-card {
  min-height: 200px;
}

.preview-container {
  overflow: hidden !important;
}