<div class="container preview-container">
  <register-progress [state]="'preview'"></register-progress>

  <h1 class="display-1">
    {{'Preview' | translate}}</h1>
  <div class="preview-info-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="text-align: center">
          <h2>
            <small>
            <span>{{getRealEstateTypeName(property.type) | translate}} |</span>
            <span>{{property.size}} kvm</span>
            <span *ngIf="property.priceRange">
              | {{property.priceRange.min | currency:'SEK':true:'1.0-0'}} 
              - {{property.priceRange.max | currency:'SEK':true:'1.0-0'}}
            </span>
          </small>
          </h2>
        </div>
      </div>
      <div class="row remove-grid-padding">
        <div class="col-sm-12 remove-grid-padding" style="text-align: center">
          <md-card class="example-card">
            <md-card-header>
            </md-card-header>
            <md-card-content>
              <div class="carousel-preview-container">
                <div id="carousel-preview" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div *ngFor="let img of property.images; let i = index" [ngClass]="{ 'item': true, 'active': i==0 }">
                      <img class="img-responsive" [src]="img" alt="...">
                      <div class="carousel-caption">
                        Image
                      </div>
                    </div>
                  </div>

                  <!-- Controls for carousel -->
                  <a class="left carousel-control" href="#carousel-preview" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-preview" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </md-card-content>
            <md-card-actions>
              <button md-button>Edit</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
      <div class="row remove-grid-padding">
        <div class="col-md-8 remove-grid-padding">
          <md-card class="details-card">
            <md-card-header>
              <md-card-title>{{'Desription' | translate}}</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                Ex: Ny fräsch lägenhet som är totalrenoverad 2011, nytt fräscht badrum. Massa mögel för övrigt. Etc. Etc. TODO: Lägg till
                bekr. på föregående sida. Möjligt att editera här.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>Edit</button>
            </md-card-actions>
          </md-card>
        </div>
        <div class="col-md-4 remove-grid-padding">
          <md-card class="details-card">
            <md-card-header>
              <md-card-title>{{'Facts' | translate}}</md-card-title>
            </md-card-header>
            <md-card-content>
              <strong>
              <p>
                {{'Monthly Fee' | translate}}
              </p>
            </strong>
              <p>
                {{property.monthlyFee}}
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>Edit</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
      <div class="row row-padding">
        <div class="col-md-12">
          <div class="preview-map-container">
            <div id="preview-map"></div>
          </div>
        </div>        
      </div>
      <div class="row row-padding">
        <div class="col-md-6 bottom-col-padding">
          <button md-raised-button (click)="back()" class="pull-left">{{'Back' | translate}}</button>
        </div>
        <div class="col-md-3 bottom-col-padding">
          <button md-raised-button (click)="saveProperty()" class="pull-right">{{'Save' | translate}}</button>
        </div>
        <div class="col-md-3 bottom-col-padding">
          <button md-raised-button color="primary" (click)="registerProperty()" class="pull-right">{{'Publish' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>