<div class="profile-cont">
  <div class="container">
      <div class="row">
          
          <div class="col-sm-8">

              <table class="table table-hover">
                  <caption>{{'Your Registered Properties' | translate}}</caption>
                  <thead>
                      <tr>
                          <th>Index</th>
                          <th>Adress</th>
                          <th>Owner</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let realestate of realEstates; let i = index;">
                          <td class="row-number-column">{{i + 1}}</td>
                          <td>{{realestate.address}}</td>
                          <td>{{realestate.owner}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-sm-4">
              <img [src]="user.picture" class="img-responsive img-circle imageClip" alt="Cinque Terre" width="50%" height="50%" />
              <h2>{{user.name}}</h2>
          </div>
      </div>
  </div>
</div>