<div class="container">
  <div class="row" style="padding-top: 30px;">
    <div class=col-xs-9>
      <md-progress-bar class="progress-margin" [color]="progress.color" [mode]="progress.mode" [value]="progress.value">
      </md-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class=col-xs-3>
      <strong *ngIf="state==='info'">
        <p class="text-primary">{{'Enter information' | translate}}</p>
      </strong>
        <p *ngIf="state!=='info'" class="text-muted">{{'Enter information' | translate}}</p>
    </div>
    <div class=col-xs-3>
      <strong *ngIf="state==='preview'">
        <p class="text-primary">{{'Preview' | translate}}</p>
      </strong>
      <p *ngIf="state!=='preview'" class="text-muted">{{'Preview' | translate}}</p>
    </div>
    <div class=col-xs-3>
      <strong *ngIf="state==='send'">
        <p class="text-primary">{{'Save or Publish' | translate}}</p>
      </strong>
      <p *ngIf="state!=='send'" class="text-muted">{{'Save or Publish' | translate}}</p>
    </div>
  </div>
</div>