<div class="container">
  <register-progress [state]="'info'"></register-progress>

  <div [hidden]="submitted">
    <form [formGroup]="registerPropertyForm">
      <h1 class="display-1">{{'Register your property' | translate}}</h1>
      <div class="row">        
        <div class="col-sm-9">
          <div class="form-group">
            <md-input-container class="input-full-width">
              <textarea mdInput id="address-input" type="text" placeholder="{{'Address' | translate}}" formControlName="addressctrl">
                    {{'Street name and number' | translate}}
                  </textarea>
            </md-input-container>

            <div *ngIf="formErrors.addressctrl" class="alert alert-danger">
              {{formErrors.addressctrl}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <md-input-container class="input-full-width">
              <input mdInput #postalcodeInput type="text" placeholder="{{'Post Code' | translate}}" formControlName="postcodectrl">
            </md-input-container>

            <div *ngIf="formErrors.postcodectrl" class="alert alert-danger">
              {{formErrors.postcodectrl}}
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <md-input-container class="input-full-width">
              <input mdInput #cityInput type="text" placeholder="{{'City' | translate}}" formControlName="cityctrl">
            </md-input-container>
            <div *ngIf="formErrors.cityctrl" class="alert alert-danger">
              {{formErrors.cityctrl}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
          
            <md-select #propertyTypeSelect class="input-full-width" placeholder="{{'Property Type' | translate}}" formControlName="proptypectrl"
              [(ngModel)]="realEstate.type">
              <md-option [value]="type.APARTMENT.value">{{ type.APARTMENT.name | translate }}</md-option>
              <md-option [value]="type.HOUSE.value">{{ type.HOUSE.name | translate }}</md-option>
              <md-option [value]="type.ROW_HOUSE.value">{{ type.ROW_HOUSE.name | translate }}</md-option>
            </md-select>
          
          </div>
        </div>
        <div class="col-sm-3">
          <md-input-container class="input-full-width">
            <input mdInput type="text" placeholder="{{'Area' | translate}} (m²)" formControlName="sizectrl">
          </md-input-container>
        </div>   
        <div class="col-sm-3">
          <md-input-container *ngIf='showLotArea' class="input-full-width">
            <input mdInput type="text" placeholder="{{'Lot Area' | translate}} (m²)" formControlName="lotsizectrl">
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <p style="color: grey; min-height: 20px;">{{'Estimated Price-range' | translate}}</p>
            <table class="input-full-width" cellspacing="0">
              <tr>
                <td>
                  <md-input-container class="example-full-width">
                    <input mdInput type="text" placeholder="{{'From' | translate}}" formControlName="pricectrlmin">
                  </md-input-container>
                </td>
                <td>
                  <md-input-container class="example-full-width">
                    <input mdInput type="text" placeholder="{{'To' | translate}}" formControlName="pricectrlmax">
                  </md-input-container>
                </td>                
              </tr>
            </table>
          </div>
        </div>
        <div class="col-sm-5">
          <p style="color: grey; min-height: 20px;"></p>
          <md-input-container *ngIf='showMonthlyFee' class="example-full-width">
            <input mdInput type="text" placeholder="{{'Monthly Fee' | translate}}" formControlName="pricectrlmonthly">
          </md-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">                
          <image-upload #imageUploadComponent id="form-image-upload-container" [max]="100" [headers]="[{header: 'Authorization', value: 'jwt'}]" [url]="'http://localhost:4001/images'"
            [buttonCaption]="selectImagesTxt" [dropBoxMessage]="dropImagesTxt">
          </image-upload>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
        <div style="min-height: 50px">
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <md-input-container class="input-full-width">
              <input mdInput id="ownername-input" type="text" placeholder="{{'Name' | translate}}" formControlName="namectrl">
            </md-input-container>

            <div *ngIf="formErrors.namectrl" class="alert alert-danger">
              {{formErrors.namectrl}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">

            <md-input-container class="input-full-width">
              <div class="input-group">
                <input mdInput id="email-input" type="email" placeholder="Email" formControlName="emailctrl">
              </div>
            </md-input-container>

            <div *ngIf="formErrors.emailctrl" class="alert alert-danger">
              {{formErrors.emailctrl}}
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding-bottom: 50px">
        <div class="col-lg-9">
          <button md-raised-button color="primary" (click)="previewProperty()" class="pull-right" [disabled]="!registerPropertyForm.valid">{{'Next' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>