<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{'Property Registration' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{regStatusText}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div [hidden]="submitted">
    <form [formGroup]="registerPropertyForm" *ngIf="active" (ngSubmit)="registerProperty()">
      <div class="row">
        <h1 class="display-1">{{'Register your property' | translate}}</h1>

        <accordion>
          <accordion-group #groupprop isOpen="true">
            <div accordion-heading>
              {{'Property Information' | translate}}
              <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupprop?.isOpen, 'glyphicon-chevron-right': !groupprop?.isOpen}"></i>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-9">

                  <div class="form-group">
                    <label for="address-input">{{'Address' | translate}}</label>
                    <input id="address-input" type="text" class="form-control" placeholder="{{'Street name and number' | translate}}" formControlName="addressctrl">

                    <div *ngIf="formErrors.addressctrl" class="alert alert-danger">
                      {{formErrors.addressctrl}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="postalcode-input">{{'Post Code' | translate}}</label>
                    <input id="postalcode-input" type="text" class="form-control" placeholder="1234 56" formControlName="postcodectrl">

                    <div *ngIf="formErrors.postcodectrl" class="alert alert-danger">
                      {{formErrors.postcodectrl}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="city-input">{{'City' | translate}}</label>
                    <input id="city-input" type="text" class="form-control" placeholder="City" formControlName="cityctrl">

                    <div *ngIf="formErrors.cityctrl" class="alert alert-danger">
                      {{formErrors.cityctrl}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <label for="form-image-upload-container">{{'Add Images' | translate}}</label>
                  <image-upload id="form-image-upload-container" 
                    [max]="100" 
                    [headers]="[{header: 'Authorization', value: 'jwt'}]" 
                    [url]="'http://localhost:4001/images'"
                    [buttonCaption]="selectImagesTxt"
                    [dropBoxMessage]="dropImagesTxt">
                  </image-upload>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #groupowner isOpen="false">
            <div accordion-heading>
              {{'Owner Information' | translate}}
              <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupowner?.isOpen, 'glyphicon-chevron-right': !groupowner?.isOpen}"></i>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="ownername-input">{{'Name' | translate}}</label>
                    <input id="ownername-input" type="text" class="form-control" placeholder="{{'Your name' | translate}}" formControlName="namectrl" required>

                    <div *ngIf="formErrors.namectrl" class="alert alert-danger">
                      {{formErrors.namectrl}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">

                    <label for="email-input">Email</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="email-addon">@</span>
                      <input id="email-input" type="email" class="form-control" placeholder="your@email.com" aria-describedby="email-addon" formControlName="emailctrl">
                    </div>

                    <div *ngIf="formErrors.emailctrl" class="alert alert-danger">
                      {{formErrors.emailctrl}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
        <div class="row top-buffer">

          <div class="col-lg-10">
            <div class="checkbox pull-right">
              <label><input type="checkbox" value="">{{'Make property private - possible to publish later' | translate}}</label>
            </div>
          </div>

          <div class="col-lg-2">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!registerPropertyForm.valid">{{'Register Property' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>