<h1 md-dialog-title>{{labelTxt}}</h1>
<div md-dialog-content>
  {{text}}
  <md-progress-spinner *ngIf='working' #regProgressSpinner mode="indeterminate">    
  </md-progress-spinner>
</div>
<div md-dialog-actions>
  <button *ngIf='working' md-button (click)="dialogRef.close('Cancel')">{{'Cancel' | translate}}</button>
  <button *ngIf='!working' md-button (click)="closeOk()">Ok</button>
</div>