.bar-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar-entry { 
}

.bar-sidenav {
  padding: 0px;
}

.title-button {
  font-size: 125%;
}

.search-bar-init {
  width: 24px;
  padding-right: 10px;
}

.search-bar-focusout {
  width: 24px;
  transition: width 1.5s;
  -webkit-transition: width 1.5s;
  padding-right: 10px;
}

.search-bar-focus {
  width: 20%;
  transition: width 1.5s;
  -webkit-transition: width 1.5s;  
}

.search-bar-focus-xs {
  width: 100%;
  transition: width 1.5s;
  -webkit-transition: width 1.5s;  
}

.sidenav-header {
  position: relative;
  height: 170px;
  width: 100%;
  min-width: 210px;
  padding: 0px;
  background-image: url(../assets/images/profile_backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sidenav-user-mail-backg {
  background-color:black;
  opacity: 0.1;
  transition: opacity 0.3s;
  padding: 5px;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
}

.sidenav-user-mail-cont {
  padding: 5px;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidenav-user-mail-backg:hover{
  opacity: 0.35;
}

.sidenav-user-mail {
  color: #252525;
  text-align: center;
  opacity: 1 !important;
}

.sidenav-user-image {
  position: absolute;
  bottom: 35px;
  left: 5px;
}