<md-sidenav-container>
  
  <md-toolbar color="primary" layout="row" class="md-whiteframe-z3">    
    <button id="sidenavId" md-button (click)="sidenav.open()" class="toolbar-entry">
      <i class="material-icons">&#xE5D2;</i>  <!--Menu-->
    </button>
    <a href="#" routerLink="/" class="toolbar-entry">
        <img src="./assets/images/hemtorg-logo-ver1.png" width="30%" height="30%">
    </a>
    
    <span class="bar-fill-remaining-space"></span>

    <md-input-container id="search-bar-container-id" color="accent" class="search-bar-init" [mdTooltip]="'Search for properties by typing an address or place.' | translate" mdTooltipPosition="left">
      <button id="arrowBackID" md-button (click)="closeSearch()">
        <i class="material-icons">&#xE5C4;</i>
      </button>
      <i class="material-icons">&#xE8B6;</i><!--Search icon-->
      <input #searchInput id="search-input-id" mdInput type="search" (keyup)="onSearchKeyUp(value)" (keyup.enter)="onEnterSearch(searchInput.value)">
    </md-input-container>
    
    <div style="max-height: 100%" fxLayout="row" fxShow fxHide.lt-sm>
      <button md-button routerLink="/" class="toolbar-entry">{{'Map' | translate}}</button>
      <button md-button class="toolbar-entry" href="#" *ngIf="!loggedIn()" (click)="login()">{{'Login' | translate}}</button>
      <button md-button class="toolbar-entry" href="#" *ngIf="loggedIn()" (click)="logout()"> {{'Logout' | translate}}</button>
    </div>
    <span style="padding-left: 10px;"></span>
    <button md-raised-button class="toolbar-entry" color="accent" routerLink="/register">{{'Register Property' | translate}}</button>
  </md-toolbar>

  <md-sidenav #sidenav class="bar-sidenav">
    <div class="sidenav-header" *ngIf="loggedIn()">
      <div class="sidenav-user-image" *ngIf="loggedIn()">
        <img [src]="user.picture" class="img-responsive img-circle imageClip" alt="Cinque Terre" width="100px" height="100px" />
      </div>
      <div class="sidenav-user-mail-cont" *ngIf="loggedIn()">
        <p class="sidenav-user-mail" (click)="sidenav.close()" href="#" routerLink="/profile">
          {{user.email}}
        </p>
      </div>
      <div class="sidenav-user-mail-backg" *ngIf="loggedIn()" (click)="goToProfile()">
      </div>
    </div>
    <md-nav-list>
      <a md-list-item (click)="sidenav.close()" routerLink="/">{{'Home' | translate}}</a>
      <div fxLayout="row" fxHide fxShow.lt-sm>
        <button md-button href="#" *ngIf="!loggedIn()" (click)="login()">{{'Login' | translate}}</button>
        <button md-button href="#" *ngIf="loggedIn()" (click)="logout()"> {{'Logout' | translate}}</button>
      </div>
      <a md-list-item (click)="sidenav.close()" routerLink="/about">{{'About' | translate}}</a>
      <a md-list-item (click)="sidenav.close()" routerLink="/faq">{{'Help' | translate}}</a>
    </md-nav-list>
  </md-sidenav>

  <!-- Router Outlet -->
  <router-outlet></router-outlet>

</md-sidenav-container>