<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="/" >{{'Home' | translate}}</a></li>
        <li><a href="#" routerLink="/about" >{{'About' | translate}}</a></li>
        <li><a href="#" routerLink="/faq" >{{'Help' | translate}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a *ngIf="loggedIn()" routerLink="/profile">{{'Profile' | translate}}</a></li>
        <li><a href="#" *ngIf="!loggedIn()" (click)="login()" >{{'Login' | translate}}</a></li>
        <li><a href="#" *ngIf="loggedIn()" (click)="logout()" >{{'Logout' | translate}}</a></li>
        <button routerLink="/regproperty" class="btn btn-primary navbar-btn" >{{'Register Property' | translate}}</button>
      </ul>
    </div>
  </div>
</nav>
<!-- Router Outlet -->
<router-outlet></router-outlet>