/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.navbar {min-height: 50px;}
.navbar-brand {padding: 0 15px; height: 50px; line-height: 50px;}
body { 
    padding-top: 0px;
    height:100%;
    min-width: 100%;
    min-height: 100%;
}

#full { height: 100% }

.top-buffer { margin-top:20px; }

